---
layout: default
---
<div class="clearfix">

    <ul class="list-reset mt2">
        {% for post in site.posts %}
        <li class="mt2 bb1-lighter-grey">
            <p class="mb0 light-gray italic">{{ post.date | date: "%b %-d, %Y" }}</p>

            <h2 class="h1 mt1 mb1">
                <a class="dark-gray" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% if post.tags.size > 0 %}
            <p class="light-gray italic">
                <i class="fa fa-tags"></i> {{ post.tags || join: ', '}}
            </p>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
    <div class="mb2 clearfix">
        <div class="button left">Newer</div>
        <div class="button right">Older</div>
    </div>

</div>
