---
layout: default
---
<div class="clearfix">

    <ul class="post-list list-reset mt2">
        {% for post in paginator.posts %}
        <li class="mt2 bb1-lighter-grey">
            <p class="mb0 light-gray italic">{{ post.date | date: "%b %-d, %Y" }}</p>

            <h2 class="h1 mt1 mb1">
                <a class="light-blue" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% if post.tags.size > 0 %}
            <p class="light-gray italic">
                <i class="fa fa-tags"></i> {{ post.tags || join: ', '}}
            </p>
            {% endif %}

            {% if(site.show_post_excerpt) %}
            <p class="light-gray italic">
                {{ post.excerpt }}
            </p>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
    <div class="mt3 mb2 clearfix">
        <div class="left">
            {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
            <span class="p1 button bg-dark-gray table-cell">
                <i class="fa fa-angle-left white"></i> <a class="white" href="{{ site.baseurl }}/"> Newer</a>
            </span>
            {% else %}
            <span class="p1 button bg-dark-gray">
                <i class="fa fa-angle-left white"></i> <a class="white" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Newer</a>
            </span>
            {% endif %}
            {% endif %}
        </div>
        <div class="right">
            {% if paginator.next_page %}
            <span class="p1 button bg-dark-gray">
                <a class="white" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older</a> <i class="fa fa-angle-right white"></i>
            </span>
            {% endif %}
        </div>
    </div>

</div>
