<header>
    <nav>
        <div class="relative clearfix white bg-dark-gray">
            <div class="left">
                <a href="/" class="button py2 m0 button-nav-dark">Home</a>
            </div>
            <div class="right">
                <div id="account-menu" class="right inline-block disclosure-group" data-disclosure="">
                    <div class="disclosure-show fixed top-0 right-0 bottom-0 left-0 md-hide"></div>
                    <a href="#!" class="button py2 m0 button-nav-dark md-hide"><i class="fa fa-bars"></i></a>

                    <div class="disclosure-show absolute right-0 left-0 clearfix nowrap bg-dark-gray md-static md-show">
                        {% for page in site.pages %}
                        {% if page.title %}
                        <a href="{{ page.url | prepend: site.baseurl }}"
                           class="md-col button block py2 button-nav-dark">{{ page.title }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
