@import "basscss";

:root {
    --heading-font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
    --heading-font-weight: 900;
    --font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
    --monospace-font-family: 'Source Code Pro', Consolas, monospace;
}

@media (min-width: 52em) {
    .md-static {
        position: static
    }
}

h1 a:hover {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: none;
}

h3 a:hover {
    text-decoration: none;
}

.bb1-lighter-grey {
    border-bottom: 1px solid var(--lighter-gray);
}