@import "basscss";

:root {
    --font-family: "Oxygen", sans-serif;
    --heading-font-family: "Oswald", sans-serif;
    --heading-font-weight: 900;
    --monospace-font-family: 'Source Code Pro', Consolas, monospace;
}

@media (min-width: 52em) {
    .md-static {
        position: static
    }
}

.bb1-lighter-grey {
    border-bottom: 1px solid var(--lighter-gray);
}

.post-list li:last-child { border-bottom: none; }